.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


#home-landing {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 5rem;
    font-family: "Merriweather";
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  .container {
    background-color: hsla(222,32%,10%,0.95);
    z-index: 3;
    border: 10px white outset;
    height: fit-content;
  }
}

#home-about-me {
  height: 100vh;
  width: 100%;
}


#home-projects {
  width: 100%;
  
  h1 {
    font-size: 2rem;
    font-family: "Merriweather";
  }
  
  h2 {
    font-size: 1.5rem;
  }
}

#home-skills {
  .home-skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
