@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Roboto+Slab&display=swap');

html {
  font-family: Alef;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  padding: 0;
  margin: 0;
  border: 0;
}

h2 {
  padding: 0;
  margin: 0;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}