@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab&display=swap");
html {
  width: 100%;
  overflow-x: hidden;
  font-family: Alef;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: hsl(222,32%,10%);
  color: white;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  padding: 0;
  margin: 0;
  border: 0;
}

h2 {
  padding: 0;
  margin: 0;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 60vw;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
